<div class="pagination-container">
  <div class="pagination-buttons">
    <button
      class="pagination-button-first"
      [class.disabled]="currentPage === 1"
      (click)="goToPage(1)">
      First
    </button>

    <button
      class="pagination-button"
      [class.disabled]="currentPage === 1"
      (click)="previousPage()">
      ‹ Previous
    </button>

    <ng-container *ngFor="let page of pages">

        <!-- Dots -->
        <span *ngIf="page === 'dots'" class="dots">…</span>

        <!-- Page number -->
        <button
        *ngIf="page !== 'dots'"
        class="pagination-button"
        [class.active]="page === currentPage"
        (click)="goToPage(page)"
        >
        {{ page }}
        </button>

    </ng-container>

    <button
      class="pagination-button"
      [class.disabled]="currentPage === totalPages"
      (click)="nextPage()">
      Next ›
    </button>

    <button
      class="pagination-button-last"
      [class.disabled]="currentPage === totalPages"
      (click)="goToPage(totalPages)">
      Last
    </button>
  </div>
</div>

